<div class="contain">
  <div class="row">
    <div class="col-sm-3">

      <img class='image' src='../../../assets/images/bebooth.jpg'>

    </div>
    <div class='col-sm-9'>
      <ul>
        <li>
          <img class='iusb' src="../../../assets/images/iusb4.png"><span class="school">Indiana University South
            Bend</span>
          <p><strong>M.S. Applied Mathematics and Computer Science</strong></p>
          <span>2017 GPA 4.0</span>
        </li>
        <li class='second'>
          <img class='iusb' src="../../../assets/images/iusb4.png"><span class="school">Indiana University South
            Bend</span>
          <p><strong>B.S. General Studies</strong> Concentration in Sciences</p>
          <p>Minor Physics and Math</p>
          <p>2014 Graduated with distinction</p>
        </li>
        <li><strong>Society of Actuaries</strong><br>
          <p>Exam P<span> passed January 2018</span><br>
            Exam FM<span> passed June 2017</span></p>
        </li>
      </ul>
    </div>
  </div>


  <h3>A little about me</h3>


</div>
